<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<servlet>


    <servlet-name>demo</servlet-name>
    <jsp-file>/demo.jsp</jsp-file>
    <init-param>
        <param-name>testInit</param-name>
        <param-value>testInitParam</param-value>
    </init-param>
</servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
<!--    // user-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>demo security</web-resource-name>
            <url-pattern>/localeServlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

<!--admin-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>demo security</web-resource-name>
            <url-pattern>/adminServlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>

        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/errorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    // muon tat ${ } thi dung
<!--    <jsp-config>-->
<!--        <jsp-property-group>-->
<!--            <url-pattern>*.jsp</url-pattern>-->
<!--            <el-ignored>true</el-ignored>-->
<!--        </jsp-property-group>-->
<!--    </jsp-config>-->
</web-app>